<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA3AC2nEfjrLk13PfLBe8OyBT_8C9wYQA4</string>
	<key>GCM_SENDER_ID</key>
	<string>533570197873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.atelier4</string>
	<key>PROJECT_ID</key>
	<string>atelier4-y-elyourizi-iir5g7</string>
	<key>STORAGE_BUCKET</key>
	<string>atelier4-y-elyourizi-iir5g7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533570197873:ios:8e1511153d6984a1ebbed0</string>
</dict>
</plist>